//首页
$font-hui: #b3b3b3;
$font-yellow: #fbb435;
$border-yellow: #fdd793;
$header-blue: #29bde0;
$font-blue: #69d1e9;
$white: #fff;
$bg-color: #f0f0f0;

//结果页
$jieguo-yellow: #ffc865;
$jieguo-font-grey: #a6a6a6;
$jieguo-hui: #d5d5d5;
$jieguo-border: #ddd;
$jieguo-red: #f66f6f;

//讨论页
$qingse: #b9e9f5;
$block-bg: #f5c97b;
$block-bottom: #83b09a;
